.goalProgress {
	background: #2C3E50;
	width: 500px;
	padding: 0px;
	margin: 40px;
}
div.progressBar {
	background: #ff008c;
	color: #fff;
	font-size: 1.5em;
	font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight: 400;
	padding: 10px;
	display: block;
	overflow: hidden;
}
span.goalAmount {
	display: none;
	text-indent: -9999px;
}